[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ouuan/hugo-theme-even
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "static/debate-v2"]
	path = static/debate-v2
	url = https://github.com/ouuan/debate-v2
	branch = html
[submodule "static/truth-table-generator"]
	path = static/truth-table-generator
	url = https://github.com/ouuan/truth-table-generator
	branch = dist
[submodule "static/luogu-motaki-plan-preview"]
	path = static/luogu-motaki-plan-preview
	url = https://github.com/ouuan/luogu-motaki-plan-preview
	branch = dist
[submodule "static/luogu-paintboard-heatmap"]
	path = static/luogu-paintboard-heatmap
	url = https://github.com/ouuan/luogu-paintboard-heatmap
	branch = dist
