[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ouuan/hugo-theme-even
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "static/neuron-notes"]
	path = static/neuron-notes
	url = https://github.com/ouuan/neuron-notes
	branch = html
[submodule "static/debate-v2"]
	path = static/debate-v2
	url = https://github.com/ouuan/debate-v2
	branch = html
