name: Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.80.0"
          extended: true

      - name: Build
        run: |
          git config core.quotePath false
          hugo --minify

      - name: Check links
        uses: wjdp/htmltest-action@11acebff5338acdc9363f2a5e4fc0a84f96da64e
        with:
          skip_external: true

      - name: Get commit message
        id: commit-message
        run: |
          message="$(git show -q --pretty="%B

          https://github.com/${{ github.repository }}/commit/%H")"
          message="${message//'%'/'%25'}"
          message="${message//$'\n'/'%0A'}"
          message="${message//$'\r'/'%0D'}"
          echo "::set-output name=message::$message"

      - name: Deploy on GitHub
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: ouuan/ouuan.github.io
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./public
          publish_branch: master
          commit_message: ${{ steps.commit-message.outputs.message }}

      - name: Add ssh key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_RSA_PRIVATE_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Deploy on Gitee
        run: |
          hugo --minify -b https://ouuan.gitee.io
          cd ..
          git clone git@gitee.com:ouuan/ouuan.git
          mv ouuan/.git .
          rm -r ouuan
          cp -r hugo-blog/public ouuan
          mv .git ouuan
          cd ouuan
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || git commit -m "${{ steps.commit-message.outputs.message }}"
          git push -f

      - name: Rebuild on Gitee
        uses: yanglbme/gitee-pages-action@608fe766b5f34094dafd551d22b35003ee2b77b2
        with:
          gitee-username: ouuan
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          gitee-repo: ouuan/ouuan
